@font-face {
    font-family: 'hello_avocadoregular';
    src: url('font/hello_avocado-webfont.woff2') format('woff2'),
         url('font/hello_avocado-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.lien-menu{
	color:#132A13;
}
.lien-menu:hover{
	border: solid;
	border-radius: 15px;
	padding: 10px;
	color: #FFC09F;
}
.lien-menu:active{
	border: solid;
	border-radius: 15px;
	padding: 10px;
	color: #fff;
	background-color: #FFC09F;
}

.lien-rdv{
	font-size: 20px;
	border: solid 3px;
	padding: 10px;
	border-radius: 15px;
	background-color: #FFC09F;
	color: #ffff;
	transition-property: background-color, color;
	transition-duration: 0.4s;
}
.lien-rdv:hover{
	background-color: #ffff;
	color:#FFC09F;
}

.btn-rdv-black
{
	border: solid, 2px;
	border-radius: 15px;
	margin: 50px;
	padding: 10px 35px 10px 35px;
	background-color: #132A13;
	color: #fff;
	font-size: 30px;
	opacity: 0.75;
}
.btn-rdv-black:hover{
	background-color:#fff;
	color:#132A13;
	opacity: 0.75;
}
.btn-rdv-white{
	border: solid, 2px;
	border-radius: 15px;
	margin: 50px;
	padding: 10px 35px 10px 35px;
	background-color: #fff;
	color: #132A13;
	font-size: 30px;
	opacity: 0.75;		
}
.btn-rdv-white:hover{
	background-color:#132A13;
	color:#fff;
	opacity: 0.75;
}

.titre-slider-black{
	color: #132A13;
	font-size: 40px;
	border-radius: 20px;
	padding: 10px;
	background-color: #fff;
	opacity: 0.75;
}
.titre-slider-white{
	color: #fff;
	font-size: 40px;
	border-radius: 20px;
	padding: 10px;
	background-color: #132A13;
	opacity: 0.75;
}
.img-profil{
	width: 20%;
	height: auto;
	margin-left: 40%;
}

.box-accueil{
	background-color: #F5F5F5;
	border-radius: 15px !important;
    border: solid 0.5px;
    box-shadow: 5px 5px 12px 0px;
}
.row2{
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.phrase-accroche{
	padding: 15px;
	font-size: 20px;
	font-family: 'hello_avocadoregular';
	text-align: center;
}
.titre-slider-bas{
	display: flex;
	justify-content : center;
}
.footer-1{
	background-color: #fff !important;
}
.navigation-footer ul{
	list-style-type: none;
}
.navigation-footer li{
	padding: 5px;
	margin: 5px;
	font-size: 20px;
}
.navigation-footer a{
	color: #000;
}
.navigation-footer a:hover{
	color: #FFC09F;
	text-decoration: underline #FFC09F ;
}
.navigation-footer a:active{
	color: #fff;
	background-color: #FFC09F;
}
.logo-footer{
	width: 100%;
	height: auto;
	margin-top: 100px;
	margin-right: 50px;
}
.btn-news{
	background-color: #FFC09F;
	color: #fff;
	border: solid 1px #fff;
	border-radius: 15px;
	width: 100%;
	height: 50px;
	transition-property: background-color, color;
	transition-duration: 0.4s;
}
.btn-news:hover{
	color: #FFC09F;
	background-color: #fff;
	border: solid 1px #FFC09F;
}
.form-news{
	border-radius: 15px;
    border: solid 0.5px #FFC09F;
	width: 325px;
}
.form-login-BO{
    align-items: center;
    margin: 5px, 5px, 0 0;
    padding: 2px, 2px, 2px, 2px;
    background-color: #fff;
}
.img-pages-presta{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.img-presta{
	width: 800px;
	height: auto;
	margin-bottom: 15px;
}
.titre-presta{
	font-size: 50px;
}
.img-cabinet{
	margin: 40px;
}
.texte-presta{
	margin-left: 100px;
    margin-right: 90px;
}
.banniere-verticale{
	width: auto;
	height: 75%;
	opacity: 0.5;
}
